@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Firoz Tower (Floor 11), 152/3-B, <br />
    Panthapath, Green Road, Dhaka-1205, Bangladesh.<br />
    <abbr title="Phone">P:</abbr>
    +880-2-9145136
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@arditesbd.com">info@arditesbd.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@arditesbd.com">Marketing@arditesbd.com</a>
</address>