@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Office Manager</h1>
    <p class="lead">This hrm software gives you options to manage your human capital effectively.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Human Resoure</h2>
        <p>
            Human resource management (HRM, or simply HR) is a function in organizations designed to maximize employee performance in service of their employer’s strategic objectives. HR is primarily concerned with how people are managed within organizations, focusing on policies and systems. HR departments and units in organizations are typically responsible for a number of activities, including employee recruitment, training and development, performance appraisal, and rewarding (e.g., managing pay and benefit systems). HR is also concerned with industrial relations, that is, the balancing of organizational practices with regulations arising from collective bargaining and governmental laws.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Leave system management</h2>
        <p>
            Leave Management is a program that is administered by the Department of Human Resources. Leave is granted to eligible full-time, part-time, time-limited and trainee employees.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Payroll</h2>
        <p>
            payroll is the sum of all financial records of salaries for an employee, wages, bonuses and deductions. In accounting, payroll refers to the amount paid to employees for services they provided during a certain period of time. Payroll plays a major role in a company for several reasons.
        </p>
        <!--<p><a class="btn btn-default" href="http://localhost">Learn more &raquo;</a></p> -->
    </div>
</div>