@model IEnumerable<HRM.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div id="EmployeeTableContainer"></div>

<script type="text/javascript">
    $n = jQuery.noConflict();
    $n(document).ready(function () {
        $n('#EmployeeTableContainer').jtable({
            title: 'Table of Employee',
            actions: {
                listAction: 'EmployeeList',
                createAction: '@Html.ActionLink("Create New", "Create")',
                updateAction: '/GettingStarted/UpdatePerson',
                deleteAction: '/GettingStarted/DeletePerson'
            },
            fields: {
                empId: {
                    key: true,
                    list: false
                },
                fname: {
                    title: 'First Name',
                    width: '20%'
                },
                lname: {
                    title: 'Last Name',
                    width: '20%'
                },
                addressStreet: {
                    title: 'Address - Street',
                    list: false
                },
                addressCity: {
                    title: 'Address - City',
                    width: '20%'
                },
                addressZip: {
                    title: 'Address - Zip',
                    list: false
                },
                emailOne: {
                    title: 'Primary email',
                    width: '20%'
                },
                photo: {
                    title: 'Photo',
                    list: false
                },
                dob: {
                    title: 'Date of birth',
                    width: '20%',
                    type: 'date'
                },
                
                phone: {
                    title: 'Phone',
                    width: '20%',
                    list: true
                }
            }
        });
        $n('#EmployeeTableContainer').jtable('load');

    });
</script>